# API
CORS_ORIGINS=http://localhost:3000
DATABASE_URL=sqlite:///./dev.db
AUTO_CREATE_TABLES=false

# Web
NEXT_PUBLIC_API_URL=http://localhost:8000

GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
JWT_SECRET=some_long_random_string
JWT_ALG=HS256
JWT_EXPIRE_MINUTES=120

